:root {
  /* Colours */
  --color-bg: #f8f5f1; /* page background /*

  /* Header */
  --color-head-bg: #a67c52;

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #000000;
  /* Links */
  --color-link-bg: #f8f5f1;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: #fceb94;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #f8f5f1;
  --color-cta-card-bg: #BF1818;
  /* news-cards */
  --color-news-bg: #b8d4e8;
  --color-news-bg-inverted: #DBE2F5;
  --color-cta-newscard-bg: #BF1818;
  --color-cta-newscard-bg-inverted: #6F90EB;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #FFFAE2;
  --color-infobox-1-bg: #f8f5f1;
  --color-infobox-2-bg: #DEF5DB;
}
